<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225518586212-brn3nglsh3v9pa8onn90u2afm1uet80h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225518586212-brn3nglsh3v9pa8onn90u2afm1uet80h</string>
	<key>API_KEY</key>
	<string>AIzaSyAOw86u71e4jeYqoDaVSwhc-KjhCmWXjpM</string>
	<key>GCM_SENDER_ID</key>
	<string>225518586212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riccardocalligaro.registroElettronico</string>
	<key>PROJECT_ID</key>
	<string>registro-elettronico-37017</string>
	<key>STORAGE_BUCKET</key>
	<string>registro-elettronico-37017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225518586212:ios:27711f052079e12d7e1271</string>
	<key>DATABASE_URL</key>
	<string>https://registro-elettronico-37017.firebaseio.com</string>
</dict>
</plist>